* {
	margin: 0;
}

.main-area {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 20px;
}
.sidebar {
	display: grid;
	gap: 20px;
}

.sidebar div {
	border-radius: 6px;
}

.statistics {
	background: lavender;
}

.next {
	background: pink;
}

.main-grid {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-area: 1 / 1 / span 2 / span 3;
}

.card {
	border-radius: 6px;
	height: 300px;
	width: 200px;
	aspect-ratio: 2 / 3;
}

.card img {
	border-radius: inherit;
	height: inherit;
	width: inherit;
}

.info {
	opacity: 0%;
	position: relative;
	transform: translate(5px, -300px);
}

@keyframes fade-in {
	0% {
		opacity: 0%;
	}
	100% {
		opacity: 100%;
	}
}

@keyframes fade-out {
	0% {
		opacity: 100%;
	}
	100% {
		opacity: 0%;
	}
}

@keyframes three-quarters-fade-out {
	0% {
		opacity: 100%;
	}
	100% {
		opacity: 25%;
	}
}

@keyframes three-quarters-fade-in {
	0% {
		opacity: 25%;
	}
	100% {
		opacity: 100%;
	}
}
