* {
	margin: 0;
	padding: 0;
}

.main {
	display: flex;
}

.card {
	display: flex;
	width: 130px;
	height: 200px;
	background: lightgray;
	outline: 2px solid black;
	overflow: hidden;
}

.card:hover {
	animation-name: reveal-info;
	animation-duration: 1s;
	width: 350px;
}

.card img {
	width: 130px;
}

@keyframes reveal-info {
	0% {
		width: 100px;
	}
	100% {
		width: 350px;
	}
}
