* {
	margin: 0;
	padding: 0;
}

.main {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(4, 1fr);
	outline: 1px solid red;
}

.card {
	outline: 2px solid black;
	height: 300px;
	aspect-ratio: 2 / 3;
	overflow: hidden;
}

.info {
	opacity: 0%;
	position: relative;
	transform: translateY(-300px);
}

@keyframes fade-in {
	0% {
		opacity: 0%;
	}
	100% {
		opacity: 100%;
	}
}

@keyframes fade-out {
	0% {
		opacity: 100%;
	}
	100% {
		opacity: 0%;
	}
}

@keyframes three-quarters-fade-out {
	0% {
		opacity: 100%;
	}
	100% {
		opacity: 25%;
	}
}

@keyframes three-quarters-fade-in {
	0% {
		opacity: 25%;
	}
	100% {
		opacity: 100%;
	}
}
